@font-face {
    font-family: 'old-charlotte';
    src: url('/font/Old_Charlotte.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

body {
    font-weight: 500;
    font-size: 1.6rem;
    font-family: 'old-charlotte', 'KJV1611Regular';
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

#container {
    height: 100vh;
    width: 90vw;
    max-width: 700px;
    background-image: url('/images/old_paper_by_sampsonx_dvbjj9.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}